<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
 <title>Email Verification</title>
    <style>
      img { max-width: 100%; height: auto; }
    </style>
  </head>
  <body>
    <div style="text-align: center;">
      <img
        src="https://res.cloudinary.com/dax8l1qhg/image/upload/v1724707741/zmuklfx69vionrejujwy.jpg"
        alt="imprxx_logo"
      />
    </div>

    <p>Hello {{firstName}},</p>

    <p>Welcome to Imprxx!</p>

    <p>Your journey with us begins now. Please use the OTP below to verify your
      account:</p>

    <p>OTP: <b>{{otpcode}}</b></p>

    <p>If you believe you received this email in error, our support team is here
      to assist you at support@imprxx.com.</p>

    <p>Thanks for choosing Imprxx. Your number one streaming platform</p>

    <p>Bestregards,</p>

    <p>Imprxx Support</p>

    {{! <p>Visit us at:
      <a href="https://mykrogrid.com">https://mykrogrid.com</a></p> }}
  </body>
</html>